.new-course-wrapper {
  text-align: center;

  p {
    margin-top: 25px;
  }

  input, textarea {
    min-width: 300px;
  }

  textarea {
    min-height: 100px;
  }

  .ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
