<app-header></app-header>
<!--TODO: вынести в роутер аутлет и ngif проверять показывать или нет хедер и футер -->
  <div class="container" *ngIf="state; else loading">
    <app-breadcrumbs></app-breadcrumbs>
    <app-toolbox (search)="handleSearch($event)"></app-toolbox>
    <app-todo-list [courses]="state.list || []"></app-todo-list>
    <button *ngIf="state.hasMoreItems" class="w-15 btn btn-success d-flex mx-auto load-more-button" (click)="services.loadTodoItems()">LOAD MORE</button>
  </div>
  <ng-template #loading>Loading...</ng-template>
<app-footer></app-footer>
