<div class="todo-wrapper" appTodoHighlight [courseDate]='course.creationDate'>
  <div [ngClass]="{'top-rated': course.isTopRated}"></div>
  <div class="todo-wrapper__item item-creation-date">{{course.creationDate | date:'dd.MM.yyyy'}}</div>
  <div class="todo-wrapper__item item-title">{{course.name | uppercase}}</div>
  <div class="todo-wrapper__item item-length">{{course.length | durationSorting:'course.length'}} minutes</div>
  <div class="todo-wrapper__item item-description">{{course.description}}</div>
  <div class="todo-wrapper__item item-buttons-dd">
    <button><i class="fas fa-cog"></i></button>
    <div class="item-buttons">
      <button type="button" class="btn btn-sm btn-secondary btn-block edit-todo-button" (click)="handleEdit()"><i class="fas fa-pen"></i></button>
      <button type="button" class="btn btn-sm btn-danger btn-block delete-todo-button" (click)="handleDelete()"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
</div>
