<div class="todo-wrapper" appTodoHighlight [courseDate]='course.creationDate'>
  <div class="todo-wrapper__item item-creation-date">{{course.creationDate}}</div>
  <div class="todo-wrapper__item item-title">{{course.title}}</div>
  <div class="todo-wrapper__item item-duration">{{course.duration}} minutes</div>
  <div class="todo-wrapper__item item-description">{{course.description}}</div>
  <div class="todo-wrapper__item item-buttons-dd">
    <button><i class="fas fa-cog"></i></button>
    <div class="item-buttons">
      <button type="button" class="btn btn-sm btn-secondary btn-block edit-todo-button" (click)="handleEdit()"><i class="fas fa-pen"></i></button>
      <button type="button" class="btn btn-sm btn-danger btn-block delete-todo-button" (click)="handleDelete()"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
</div>
