<app-header></app-header>
<div class="container">
  <app-breadcrumbs></app-breadcrumbs>
    <form [formGroup]='course' class="edit-course-wrapper">
      <h4>Edit course</h4>
      <div>
        <p>Title:</p>
        <input type="text" placeholder="Enter title" formControlName='title'>
      </div>

      <div>
        <p>Description:</p>
        <textarea type="text" placeholder="Enter description" formControlName='description'></textarea>
      </div>

      <div>
        <p>Duration (in minutes):</p>
        <input type="number" placeholder="Enter duration" formControlName='length'/>
      </div>

      <div>
        <p>Creation date (in miliseconds):</p>
        <input type="date" placeholder="Enter creation date" formControlName='date' min="2000-01-01" max="2018-12-31"/>
      </div>

      <div class="mt-4 pb-4">
        <button class="btn btn-success mr-1" (click)='handleSave()' [disabled]="!course.valid">Save</button>
        <button class="btn btn-danger" (click)='handleCancel()'>Cancel</button>
      </div>
    </form>
  </div>
<app-footer></app-footer>
