<app-header></app-header>
<div class="container">
  <app-breadcrumbs></app-breadcrumbs>
    <div class="edit-course-wrapper">
      <h4>Edit course</h4>
      <div>
        <p>Title:</p>
        <input type="text" placeholder="Enter title" [(ngModel)]='currentCourse.title'>
      </div>

      <div>
        <p>Description:</p>
        <textarea type="text" placeholder="Enter description" [(ngModel)]='currentCourse.description'></textarea>
      </div>

      <div>
        <p>Duration (in minutes):</p>
        <input type="text" placeholder="Enter duration " [(ngModel)]='currentCourse.duration'/>
      </div>

      <div>
        <p>Creation date (In miliseconds):</p>
        <input type="text" placeholder="Enter creation date" [(ngModel)]='currentCourse.creationDate'/>
      </div>

      <div class="mt-4 pb-4">
        <button class="btn btn-success mr-1" (click)='handleSave(currentCourse)'>Save</button>
        <button class="btn btn-danger" (click)='handleCancel()'>Cancel</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>
<!-- TODO:  -->
<!-- Edit styles -->
