<nav class="navbar header">
  <div>
    <span class="navbar-brand mb-0 header__logo">
      <img src="./assets/App-logo.svg" class="app-logo" alt="">
      Courses todo app
    </span>
  </div>
  <div *ngIf="user">
    <div class="header__avatar">
      <img src="../../../../assets/default-user-logo.png" alt="User avatar">
    </div>
    <span class="navbar-text pr-3">{{user.firstName}} {{user.lastName}}</span>
    <button class="btn btn-sm btn-outline-dark logout-button" (click)="handleLogOut()">Log out</button>
  </div>
</nav>
